<app-component></app-component>
<app-home></app-home>

<footer>
  <div class="bg-green p-5">
      <div class="container">
          <div class="row">
              <div class="text-center col-sm-12">
                <h1 class="text-up text-white">Professional Services</h1>
                <button type="button" class="btn btn-outline-light text-up">contact us</button>
              </div>
          </div>
      </div>
  </div>
  <div class="">
      <div class="container">
              <div class="row col-sm-12 d-flex justify-content-center p-5">
                <div class="text-center">
                  <div class="col-sm-3 m-4">
                    <img src="assets/images/l-1.png" alt="" srcset="">
                  </div>
                </div>
                <div class="text-center m-4">
                  <div class="col-sm-3">
                    <img src="assets/images/l-2.png" alt="" srcset="">
                  </div>
                </div>
                <div class="text-center m-4">
                  <div class="col-sm-3">
                    <img src="assets/images/l-3.png" alt="" srcset="">
                  </div>
                </div>
                <div class="text-center m-4">
                  <div class="col-sm-3">
                    <img src="assets/images/l-4.png" alt="" srcset="">
                  </div>
                </div>
          </div>
      </div>
  </div>
  <div class="bg-dark">
      <div class="container text-center text-md-left text-white">
          <div class="row pt-5 pb-4">
            <div class="col-sm-3 mt-md-0 mt-3">
              <h5 class="text-up"><strong>contact us</strong></h5>
              <p><span class="ti-location-pin mr-2"></span>55 Main St. Toronto, ON M1H 3A5</p>
              <p><span class="ti-mobile mr-2"></span>(416) 555-5252</p>
              <p><span class="ti-email mr-2"></span>hello@treehouse.com</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-sm-5 mb-md-0 mb-3">
              <h5 class="text-up"><strong>latest posts</strong></h5>
              <p><span class="ti-id-badge mr-2"></span>Made With Love In Toronto</p>
              <p><span class="ti-image mr-2"></span>Startup News & Emerging Tech</p>
              <p><span class="ti-id-badge mr-2"></span>Bitcoin Will Soon Rule The World</p>
              <p><span class="ti-id-badge mr-2"></span>Wearable Technology On The Rise</p>
              <p><span class="ti-id-badge mr-2"></span>Learn Web Design In 30 Days!</p>
            </div>
            <div class="col-sm-4 mb-md-0 mb-3">
              <h5 class="text-up"><strong>latest posts</strong></h5>
              <p><span class="ti-twitter-alt mr-2"></span>Confucius: Life is really simple, but we insist on making it complicated. #famousquotes</p>
              <p><span class="ti-twitter-alt mr-2"></span>Grab the Free Treehouse web template at FreebiesXpress! #freebies #templates</p>
            </div>
          </div>
      </div>
  </div>
  <div class="bg-write pb-2 pt-4">
    <div class="container">
      <div class="row">
        <div class="row d-flex col-sm-4 text-center">
            <p class=" text-dark"> © Company 2021 FreebiesXpress.com</p>
        </div>
        <div class="col-sm-5 text-center">
            <a class="btn footer-btn btn-dark btn-floating m-1"  href="#" role="button"><span class="ti-twitter-alt"></span></a>
            <a class="btn footer-btn btn-dark btn-floating m-1" href="#" role="button" ><span class="ti-facebook"></span></a>
            <a class="btn footer-btn btn-dark btn-floating m-1" href="#" role="button"><span class="ti-pinterest"></span></a> 
            <a class="btn footer-btn btn-dark btn-floating m-1" href="#" role="button" ><span class="ti-google"></span></a> 
        </div>
      </div>
    </div>
  </div>
  
</footer>
<router-outlet></router-outlet>
