<div class="container p-3">
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="assets/images/logo.png" alt="Treehouse">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-sm-7"></div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav text-up text-gray">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Blog</a>
            <a class="nav-item nav-link" href="#">Porfolio</a>
            <a class="nav-item nav-link" href="#">Contact</a>
          </div>
        </div>
      </nav>
</div>
