<div class="container mb-5">
    <div class="row text-center d-block m-5">
        <h1 class="text-up">Professional Services</h1>
        <p>Proin iaculis purus consequat sem cure</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="text-center mb-3">
            <span class="ti-heart icon"></span>
          </div>
          <h4 class="text-up text-center">beatiful designs</h4>
          <p class="text-center">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>     
        </div>
        <div class="col-sm-4">
          <div class="text-center mb-3">
            <span class="ti-mobile icon"></span>
          </div>
          
          <h2 class="text-up text-center">responsive web</h2>
          <p class="text-center">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
        </div>
        <div class="col-sm-4">
          <div class="text-center mb-3">
            <span class="ti-bolt-alt icon"></span>
          </div>
          <h2 class="text-up text-center">marketing tools</h2>
          <p class="text-center">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
        </div>
    </div>
</div>
