<main>
    <app-carousel></app-carousel>
    <app-card-area></app-card-area>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/images/bg-1.png" alt="">
            </div>
            <div class=" col-sm-8 slide-bg">
                <div class="" >
                    <div class="text-white p-5 ">
                        <h2 class="card-title"><strong>JUST RELAX <span class="text-green">&</span></strong></h2>
                        <h2 class="card-title"><strong>LET US DO THE HEAVEY LIFTING</strong></h2>
                        <p class="card-text">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. Donec porttitore entum suscipit aenean</p>
                        <p><span class="ti-check p-2 mr-3 m-2"></span>Initial Setup & Customizations</p>
                        <p><span class="ti-check p-2 mr-3 m-2"></span>Regular Updates</p>
                        <p><span class="ti-check p-2 mr-3 m-2"></span>Round The Clock Support</p>
                        <p><a class="btn btn-lg btn-green text-white text-up" href="#" role="button">learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-center d-block m-5">
            <h1 class="text-up">Lastest Project</h1>
            <p>Proin iaculis purus consequat sem cure</p>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row featurette">
            <div class="col-sm-7">
              <h5 class="card-title text-up"><strong>developing a framewok</strong></h5>
              <p class="card-text mb-4">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. Donec porttitore entum suscipit aenean</p>
              <p class=" mt-4"><span class="ti-shopping-cart icon-b p-2 mr-3"></span>Initial Setup & Customizations</p>
              <p class=" mt-4"><span class="ti-check-box icon-b p-2 mr-3"></span>Regular Updates</p>
              <p class=" mt-4"><span class="ti-lock icon-b p-2 mr-3"></span>Round The Clock Support</p>
              <p class="card-text mb-4">Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
              <p><a class="btn btn-lg text-green text-up" href="#" role="button"><strong>view details <span class="ti-arrow-right"></span></strong></a></p>
            </div>
            <div class="col-sm-5">
                <img src="assets/images/bg-4.png" alt="" class="w-100">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center d-block m-5">
          <h1 class="text-up">culture & values</h1>
          <p>Proin iaculis purus consequat sem cure</p>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="text-center mb-5 mt-4">
                  <span class="ti-music-alt icon-s"></span>
                </div>
               <div class="mt-4 text-center">
                <h5 class="text-up mb-3"><strong>work-life balance</strong></h5>
                <p>Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
               </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center mb-5 mt-4">
                  <span class="ti-bar-chart icon-s"></span>
                </div>
                <div class="mt-4 text-center">
                  <h5 class="text-up mb-3"><strong>quality over quantity</strong></h5>
                  <p>Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center mb-5 mt-4">
                  <span class="ti-star icon-s"></span>
                </div>
                <div class="mt-4 text-center">
                  <h5 class="text-up mb-3"><strong>deliver excellence</strong></h5>
                  <p>Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center d-block m-5">
          <h1 class="text-up"> Our Awesome Client</h1>
          <p>Proin iaculis purus consequat sem cure</p>
        </div>
        <div class="row featurette mb-5">
            <div class="col-sm-1"></div>
            <div class="col-sm-7 order-md-2 bg-message ">
              <div class="p-4 text-center ">
                <p class="lead">"Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt.rhoncus posuere idio. " </p>
                <p class="text-green"><strong>-Jamie Richardson, Founder of Cocoa Media</strong></p>
              </div>
            </div>
            <div class="col-sm-3 mt-3 order-md-1 d-flex">
              <img class="featurette-image img-fluid mx-auto" alt="" src="assets/images/p-1.png" data-holder-rendered="true" >
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row featurette mt-5 mb-5">
          <div class="col-sm-1"></div>
          <div class="col-sm-7  bg-message2 p-3">
            <div class="text-center p-4">
              <p class="lead">"Proin iaculis purus consequat sem cure digni. Donec porttitore entum suscipit aenean rhoncus posuere idio in tincidunt. rhoncus posuere idio. " </p>
              <p class="text-green"><strong>-Jamie Richardson, Founder of Cocoa Media</strong></p>
            </div>
          </div>
          <div class="col-sm-3 mt-3 order-md-1 d-flex">
            <img class="featurette-image img-fluid mx-auto" alt="" src="assets/images/p-1.png" data-holder-rendered="true" >
          </div>
          <div class="col-sm-1"></div>
      </div>
    </div>
  </main>